<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index page</title>
  </head>
  <body>
    
    <h1>All Listings!</h1>

    <a href="listings/new">Add New Listings</a>
    <br><br>

    <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>">
            <img src="<%= listing.imageUrl %>" alt="">
            <div>
              <p><%= listing.title %></p>
              <h6><%= listing.price %></h6>
            </div>
        </a>
    <% } %>
    
  </body>

</html>
